// Media queries
$xs: 440px;
$s: 576px;
$m: 768px; 
$l: 992px; 
$xl: 1200px; // 1200 / 16 (default font size) = 75em

* {
    margin: 0;
    padding: 0;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

html {
    box-sizing: border-box;
    font-size: 62.5%; // 1rem = 10px // default: 1rem = 16px // (10/16)x100 = 62.5

    @media screen and (max-width: $xl) {
        font-size: 50%;
    }

    // @media screen and (max-width: $s) {
    //     font-size: 37.5%; // 6px
    // }
}

body {
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    line-height: 1.6;
    background-image: linear-gradient(to right bottom, var(--color-primary-light), var(--color-primary-dark));
    background-size: cover;
    background-repeat: no-repeat;
    // min-height: 100vh;
}

:root {
    // Colors (CSS version)
    --color-primary: #2da8d8ff;
    --color-primary-light: #3fc1c9;
    --color-primary-dark: #364f6b;

    --color-grey-light: #faf9f9;
    --color-grey-light-2: #f4f2f2;
    --color-grey-light-3: #f0eeee;
    --color-grey-light-4: #ccc;

    --color-grey-dark: #333;
    --color-grey-dark-2: #777;
    --color-grey-dark-3: #999;

    --color-white: #fff;


    --shadow-dark: 0 2rem 6rem (rgba(0, 0, 0, .9));
}

// Colors (Sass version)
$color-primary: #2da8d8ff;
$color-primary-light: #3fc1c9;
$color-primary-dark: #364f6b;

$color-grey-light: #faf9f9;
$color-grey-light-2: #f4f2f2;
$color-grey-light-3: #f0eeee;
$color-grey-light-4: #ccc;

$color-grey-dark: #333;
$color-grey-dark-2: #777;
$color-grey-dark-3: #999;

$color-white: #fff;


$shadow-dark: 0 2rem 6rem (rgba(0,0,0,.9));
$line: 1px solid $color-grey-light-2;
$shadow-light: 0 2rem 5rem (rgba(0,0,0,.06));